.branch-management-container {
  display: flex;
  flex-direction: column;
  padding: 38px;
  width: 100%;
}

.tab-container {
  display: flex;
  margin-bottom: 16px;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: -webkit-fill-available !important;
}

app-form-input,
::ng-deep app-form-input .date-picker-container.size-xl,
::ng-deep app-form-input div.input-wrapper,
::ng-deep app-form-input .form-date-picker.size-xl,
app-multi-select,
::ng-deep app-multi-select .input-wrapper,
::ng-deep app-multi-select .multi-select-dropdown.size-xl,
::ng-deep app-multi-select .multi-select-dropdown.size-md {
  max-width: -webkit-fill-available !important;
  min-width: -webkit-fill-available !important;
}
::ng-deep app-select-list,
::ng-deep app-select-list .selection-container.size-xl,
::ng-deep app-select-list .filter-label,
::ng-deep app-select-list .form-select-list {
  max-width: -webkit-fill-available !important;
}

::ng-deep app-select-list .selection-container.size-lg,
::ng-deep app-select-list .selection-container.size-sm,
::ng-deep app-select-list .selection-container.size-md {
  max-width: -webkit-fill-available !important;
  min-width: -webkit-fill-available !important;
}

::ng-deep app-time-picker .time-picker-container.size-md {
  min-width: -webkit-fill-available !important;
  max-width: -webkit-fill-available !important;
}
::ng-deep app-form-input.ng-untouched.ng-valid.ng-dirty,
::ng-deep app-form-input .time-range-container.ng-valid.ng-dirty.ng-touched,
::ng-deep app-form-input .time-range-container.ng-pristine.ng-valid.ng-touched,
::ng-deep app-form-input .time-range-container.ng-valid.ng-touched.ng-dirty {
  min-width: -webkit-fill-available !important;
  max-width: -webkit-fill-available !important;
}

::ng-deep app-form-card .form-card {
  min-width: 30% !important;
  padding: 2% !important;
  overflow: scroll;
}

::ng-deep app-form-input .form-textarea.size-md.with-icon,
::ng-deep app-date-picker.form-date-picker.size-md,
::ng-deep app-date-picker .date-picker-container.size-md,
::ng-deep app-date-picker .date-picker-container {
  max-width: -webkit-fill-available !important;
  min-width: -webkit-fill-available !important;
}

::ng-deep app-time-picker .time-picker-container.size-md {
  max-width: -webkit-fill-available !important;

  margin-left: 30px;
}
