.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 38px;
}

app-card-appointment {
  flex: 1;
  min-width: 0;
  display: block;
  width: 100%;
}

.table {
  width: 100%;
  align-content: center;
  padding: 0px 40px;
}
app-table-normal {
  display: flex;
  max-height: 550px;
  overflow-y: scroll;
}

app-card-appointment .overall-details div {
  padding: 0 !important;
}
