<div class="branch-settings-container">
  <div class="branch-settings-header">
    <h1>{{ title }}</h1>
  </div>

  <app-message-box
    [message]="snackbarMessage1"
    [type]="snackbarType1"
    [isVisible]="showSnackbar1"
    (dismissed)="onSnackbarDismissed()"
    (actionClicked)="saveSettings()"
  ></app-message-box>

  <snackbar-alert
    [message]="snackbarMessage3"
    [type]="snackbarType3"
    [isVisible]="showSnackbar3"
  >
  </snackbar-alert>
  <app-message-box
    [message]="snackbarMessage2"
    [type]="snackbarType2"
    [isVisible]="showSnackbar2"
    (dismissed)="onSnackbarDismissed2()"
    (actionClicked)="onSnackbarDismissed2()"
  ></app-message-box>

  <div
    class="branch-settings-form"
    [formGroup]="addBranchForm"
    *ngIf="!submmited"
  >
    <!-- First Row -->
    <div class="form-row two-columns">
      <div class="form-group">
        <div class="input-container">
          <app-form-input
            label="اسم الفرع"
            [placeholder]="namePlaceholder"
            type="text"
            class="custom-input"
            [icon]="icons.branch"
            formControlName="branchName"
            [control]="branchName"
            [errorMessages]="{
              required: 'هذا الحقل مطلوب',
           
            }"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <app-form-input
            label="العنوان"
            placeholder="Building 1088, Road 4025, Block 840, Isa Town"
            formControlName="branchAddress"
            [control]="branchAddress"
            [errorMessages]="{
              required: 'هذا الحقل مطلوب',
           
            }"
          ></app-form-input>
        </div>
      </div>
    </div>

    <!-- Second Row -->
    <div class="form-row two-columns">
      <div class="form-group">
        <div class="time-container">
          <app-form-input
            type="timepicker"
            label="ساعات العمل"
            [timePickerType]="'range'"
            [startTimePlaceholder]="'بداية'"
            [endTimePlaceholder]="'نهاية'"
            [use24HourFormat]="false"
            [minuteStep]="30"
            [minTime]="'06:00'"
            [maxTime]="'22:00'"
            formControlName="workingHours"
            [control]="workingHour"
            [errorMessages]="{
              required: 'هذا الحقل مطلوب',
           
            }"
          >
          </app-form-input>
        </div>
      </div>

      <div class="form-group">
        <div class="input-container dropdown">
          <app-multi-select
            [label]="'أيام العمل'"
            [options]="daysOptions"
            [placeholder]="'اختر الأيام'"
            [selectIcon]="icons.calendar"
            [selectedValues]="selectedDays"
            [customDimensions]="{ width: '100%' }"
            (selectionChange)="onWorkingDaysChange($event)"
          ></app-multi-select>
        </div>
      </div>
    </div>
    <!-- Third Row -->
    <div class="form-row two-columns">
      <div class="form-group">
        <div class="input-container">
          <app-form-input
            label="عدد الكاونترات"
            placeholder="عدد الكاونترات"
            type="number"
            class="custom-input"
            formControlName="counterCount"
            [control]="counterCount"
            [errorMessages]="{
              required: 'هذا الحقل مطلوب',
              min: 'يرجى إدخال رقم أكبر من صفر',
              max: 'يرجى إدخال رقم أصغر من مئة'
            }"
          ></app-form-input>
        </div>
      </div>

      <div class="form-group">
        <div class="input-container">
          <app-form-input
            label="عدد الموظفين"
            placeholder="عدد الموظفين"
            type="number"
            class="custom-input"
            formControlName="employeeCount"
            [control]="employeeCount"
            [errorMessages]="{
              required: 'هذا الحقل مطلوب',
              min: 'يرجى إدخال رقم أكبر من صفر',
              max: 'يرجى إدخال رقم أصغر من مئة'
            }"
          ></app-form-input>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <app-custom-button
        [variant]="'primary'"
        [size]="'large'"
        [fullWidth]="true"
        (click)="ConfirmSubmit()"
        [disabled]="!isFormValid()"
        >حفظ
      </app-custom-button>
      <app-custom-button
        [variant]="'danger'"
        [size]="'large'"
        (click)="goHome()"
        [fullWidth]="true"
        >الغاء
      </app-custom-button>
    </div>
  </div>

  <div *ngIf="submmited" class="afterSubmmit">
    <app-display-info
      label=" اسم الفرع  "
      [info]="branchName.value ? branchName.value : '-'"
    ></app-display-info>

    <app-display-info
      label=" عنوان الفرع  "
      [info]="branchAddress.value ? branchAddress.value : '-'"
    ></app-display-info>

    <app-display-info
      label=" عدد الموظفين "
      [info]="employeeCount.value ? employeeCount.value : '-'"
    ></app-display-info>

    <app-display-info
      label=" عدد الكاونترات "
      [info]="counterCount.value ? counterCount.value : '-'"
    ></app-display-info>

    <app-display-info
      label=" ساعات العمل   "
      [info]="workingHoursString()"
    ></app-display-info>

    <app-display-info
      label="  أيام العمل  "
      [info]="selectedDayNames"
    ></app-display-info>

    <div class="form-actions">
      <app-custom-button
        [variant]="'secondary'"
        [size]="'large'"
        [fullWidth]="true"
        (click)="goHome()"
        >رجوع
      </app-custom-button>
    </div>
  </div>
</div>
