<app-cards-container
  [cards]="list"
  [conditionalStyling]="[
    { condition: 'title.includes(&quot;غير&quot;)', class: 'failed' },
    { condition: 'title.includes(&quot;فعال&quot;)', class: 'sucess' }
  ]">
</app-cards-container>
<div class="overall-body">
  <div class="overall-body-row">
    <div class="branch-status-container">
      <app-section-name title="حالة الفروع" sectionTitleSize="md" />
      <div class="branch-status">
        @for (branch of branchesStatus; track branch.id) {
        <app-branch-status
          [branchName]="branch.branchName"
          [appointmentsCount]="branch.appointmentsCount"
          [attendanceCount]="branch.attendanceCount"
          [cancledAttendancesCount]="branch.cancledAttendancesCount"
          [waitTime]="branch.waitTime"
          [status]="
            branch.status === 'فعال' || branch.status === 'غير فعال'
              ? branch.status
              : ''
          "
          [statusDescription]="branch.statusDescription" />
        }

        <div class="button-container">
          <app-custom-button
            [type]="'button'"
            [variant]="'primary'"
            [size]="'large'"
            [fullWidth]="true">
            إدارة الفروع
          </app-custom-button>
        </div>
      </div>
    </div>
    <div class="appointment-analysis-container">
      <app-weekly-graphs></app-weekly-graphs>
    </div>
    <div class="ticket-container">

      <div class="ticket-text">
        <div>
          <h2>حالة التذاكر</h2>
          <p id="sub">نظرة عامة على جميع أنشطة التذاكر</p>
        </div>
        <div class="url-div" (click)="veiwTick()">
          <p id="url">عرض التفاصيل</p>
          <img id="urlIcon" src="./icons/arrow.svg">
        </div> </div>
      <app-ticket-card [tickets]="tickets"></app-ticket-card>
    </div>
  </div>

</div>
