* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: -webkit-fill-available !important;
}

app-form-input,
::ng-deep app-form-input .date-picker-container.size-xl,
::ng-deep app-form-input .input-wrapper,
::ng-deep app-form-input .form-date-picker.size-xl,
app-multi-select,
::ng-deep app-multi-select .input-wrapper,
::ng-deep app-multi-select .multi-select-dropdown.size-xl {
  max-width: -webkit-fill-available !important;
}

app-select-list,
app-search-bar ::ng-deep app-select-list .selection-container.size-xl,
::ng-deep app-select-list .filter-label,
::ng-deep app-select-list .form-select-list {
  max-width: -webkit-fill-available !important;
}

::ng-deep app-select-list .selection-container.size-lg {
  max-width: -webkit-fill-available !important;
}

.overall-dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 38px;
}

.overall-body-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 42px;
  justify-content: space-between;
}

.branch-status-container,
.appointment-analysis-container,
.time-distribution-analysis-container,
.peak-time-analysis-container {
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
  min-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--border-md);
  box-shadow: var(--shadow-card);
  border-radius: 10px;
  padding: 10px;
}

/* .branch-status-container,
.appointment-analysis-container,
.time-distribution-analysis-container,
.peak-time-analysis-container,
.appointments-table-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--border-md);
  box-shadow: var(--shadow-card);
  border-radius: 10px;
  padding: 10px;
} */

.appointments-table-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: var(--border-md);
  box-shadow: var(--shadow-card);
  border-radius: 10px;
  padding: 16px;
  width: 100%;
}

.branch-status-container {
  max-height: 1000px;
  overflow-y: auto;
}

.button-container {
  margin: 30px 0;
  padding: 0 100px;
}
.buttons-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 1rem;
}

.dual-chart {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tick {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 10px; /* optional: space between items */
}

.ticket-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

#url {
  font-size: clamp(25px, 2vw, 10px);
}

#sub {
  font-size: clamp(18px, 2vw, 10px);
}

.url-div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--primary);
  font-weight: 600;
  margin-right: 40px;
}

#urlIcon {
  width: 40px;
}

.ticket-container {
  border: 2px solid #e5e5e5;
  width: fit-content;
  padding: 30px;
  border-radius: 10px;
}
