spring:
  application:
    name: mawaeed_backend
  datasource:
    url: jdbc:postgresql://localhost:5432/mawaeed
    username: root
    password: admin123
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
