spring:
  application:
    name: mawaeed_backend
  datasource:
    url: jdbc:postgresql://localhost:5432/mawaeed-dev
    driver-class-name: org.postgresql.Driver

    username: postgres
    password: admin123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: mawaeed
