<div class="branches-container">
  <reuseable-data-table
    [data]="branches"
    [columns]="tableColumns"
    [actions]="tableActions"
    [config]="tableConfig"
    [filterOptions]="filterOptions"
    [entityType]="'الفروع'"
    [entityIcon]="icons.branch"
    [searchFields]="['name', 'location', 'manager']"
    [enableAdvancedFilters]="false"
    [enableBulkActions]="true"
    [enableExport]="true"
    [availableFilters]="{
      search: true,
      dateRange: false,
      dayFilter: false,
      statusFilter: true,
      branchFilter: false,
      customFilters: true
    }"
    [customFilters]="customFilters"
    [filterPresets]="filterPresets"
    (bulkAction)="onBulkAction($event)">
  </reuseable-data-table>
</div>
